* {cursor: url(../items/cursors/full-moon-cursor.cur), auto !important;}

body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    transition: background-color 0.5s, color 0.5s;
    color: white
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../items/pics/8bit-background.jpg'); /* Add your background image */
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the image */
    z-index: -1; /* Keep it behind other elements */
}

.container {
    text-align: center;
    padding: 20px;
    backdrop-filter: blur(0.5px);
    position: relative; /* Allow content to overlay the background */
    z-index: 1; /* Ensure the content is above the background */
}

h1 {
    color: inherit;
}

.skills {
    margin: 20px 0;
}

.skill {
    margin: 10px 0;
}

.hearts {
    display: flex;
    justify-content: center;
}

.heart {
    font-size: 24px;
    margin: 0 5px;
}

.full {
    color: red;
}

.empty {
    color: rgb(179, 179, 179);
}

#expand-button {
    background-color: #404040; /* background */
    color: white; /*  text */
    border: 2px solid #404040; /*  border */
    padding: 15px 30px; /* Padding for larger button */
    font-size: 18px; /* Larger font size */
    cursor: pointer; /* Pointer cursor */
    box-shadow: 0 0 5px #1e1e1e, 0 0 10px #2a2a2a; /* Glowing effect */
    transition: all 0.3s; /* Smooth transition */
    border-radius: 15px; /* Rounded corners */
}

#expand-button:hover {
    background-color: #494949; /* Darker green on hover */
    box-shadow: 0 0 15px #4f4f4f, 0 0 20px #6e6e6e; /* Increased glow on hover */
    cursor: url(../items/cursors/full-moon-cursor.cur), auto !important; /* hover cursor */
}
