* {
    cursor: url(../items/cursors/obiwan-lightsaber-cursor.cur), auto !important;
}

body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.stars {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.star {
    position: absolute;
    background: white;
    border-radius: 50%;
    animation: pulsate 1.5s infinite;
}

@keyframes pulsate {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

.title {
    font-size: 2.5em;
    color: white;
    text-align: center;
    text-shadow: 0 0 5px lightblue, 0 0 10px lightblue;
    animation: pulse 2s infinite alternate;
    font-family: 'Star Wars', sans-serif;
    padding: 20px;
}

@keyframes pulse {
    0% { opacity: 0.8; }
    100% { opacity: 1; }
}

.button {
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid white;
    width: 200px; /* Set a fixed width for all buttons */
    border-radius: 5px;
    padding: 25px 60px;
    margin: 10px 0;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    transition: background 0.3s;
}

.button:hover {
    background: white;
    color: black;
}

footer p {
    color: white;
    padding: 20px;
}